<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BB Dashboard</title>

    <!-- css references -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">  
    <link href="{{ url_for('static', filename='css/bootstrap-grid.css') }}" rel="stylesheet">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">

    <!-- js references -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <body class='background'>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-head-foot fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Stephen Tsoi-A-Sue</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item active navbar-right dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data Models</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                  <a class="dropdown-item" href="#">Belly Button Biodiversity Dashboard</a>
                  <a class="dropdown-item" href="#">Lattitude Analysis</a>
                  <a class="dropdown-item" href="#">Predicting MVP w/ Machine Learning</a>
                  <a class="dropdown-item" href="#"></a>
                </div>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link text" href="data.html">Contact</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <div class='container'>
        <div class="jumbotron text-center">
            <h1>Belly Button Biodiversity Dashboard</h1>
            <p>Use the interactive charts below to explore the data</p> 
        </div>
    </div>  

    <div class='container'>
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="py-4 bg-head-foot">
      <div class="container">
        <p class="m-0 text-center text-white">Brought to you by Stephen Tsoi-A-Sue</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

  </body>

</html>
